@import url('https://fonts.googleapis.com/css2?family=:wght@300;400;500;600;700;800&display=swap');


/*style menu*/
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav {
    background: green;
    height: 80px;
    width: 100%;
    position: fixed;
    top:0px;
    z-index: 3;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

    nav ul li {
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
    }

        nav ul li a {
            color: white;
            font-size: 17px;
            padding: 7px 13px;
            border-radius: 3px;
            text-transform: uppercase;
            font-weight: bold;
        }

a.active, a:hover {
   
    background: white;
    color: green;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }



    ul {
        z-index: 2;
        position: fixed;
        width: 50%;
        height: 100vh;
        background: green;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

        nav ul li a {
            font-size: 20px;
        }

    a:hover, a.active {
        background: none;
        color: black;
    }

    #check:checked ~ ul {
        left: 0;
    }
}

section {
    background: url(/img/bg1.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
}
/* fin de style Menu*/

section {
    padding: 100px 0;
    margin-top: -200px;
}

.max-width {
    max-width: 1300px;
    padding: 350px 80px;
    margin: auto;
}

.teams .carousel .card {
    background: white;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
    color: green;
}

    .teams .carousel .card:hover {
        background: green;
        color: white;
    }

    .teams .carousel .card .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
    }

.teams .carousel {
    display: flex;
    flex-direction: grid;
    align-items: flex-start;
    justify-content: space-between;
    transition: all 0.3s ease;
}



    .teams .carousel .card:hover .box {
        transform: scale(1.05);
    }

    .teams .carousel .card .text {
        font-size: 25px;
        font-weight: 500;
        margin: 10px 0 7px 0;
    }

    .teams .carousel .card img {
        height: 150px;
        width: 150px;
        object-fit: cover;
        border-radius: 50%;
        border: 5px solid green;
        transition: all 0.3s ease;
    }

    .teams .carousel .card:hover img {
        border-color: #fff;
    }


.card {
    width: calc(33% - 20px);
    background: green;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

/*Style login*/

.form {
    z-index: 1;
    font-family: "Poppins", sans-serif;
    display: block;
    width: 320px;
    text-align: center;
    background: white;
    border-radius: 50px;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

    .form i {
        z-index: 1;
        color: #ccc;
        font-size: 65px;
        margin-bottom: 30px;
    }

    .form .signup-form {
        display: none;
    }

    .form .user-input {
        width: 320px;
        height: 55px;
        margin-bottom: 30px;
        outline: none;
        border: none;
        background: rgba(255, 255, 255, 0.9);
        color: black;
        font-size: 18px;
        text-align: center;
        border-radius: 5px;
        transition: 0.5s;
        transition-property: border-left, border-right, box-shadow;
    }

        .form .user-input:hover, .form .user-input:focus, .form .user-input:active {
            border-left: solid 8px green;
            border-right: solid 8px green;
            box-shadow: 0 0 100px rgba(66, 133, 244, 0.9);
        }

    .form .options-01 {
        margin-bottom: 50px;
    }

        .form .options-01 input {
            width: 15px;
            height: 15px;
            margin-right: 5px;
        }

        .form .options-01 .remember-me {
            color: #bbb;
            font-size: 14px;
            display: flex;
            align-items: center;
            float: left;
            cursor: pointer;
        }

        .form .options-01 a {
            color: #888;
            font-size: 14px;
            font-style: italic;
            float: right;
        }

    .form .btn {
        outline: none;
        border: none;
        width: 320px;
        height: 55px;
        background: green;
        color: #fff;
        font-size: 18px;
        letter-spacing: 1px;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.5s;
        transition-property: border-left, border-right, box-shadow;
    }

        .form .btn:hover {
            border-left: solid 8px rgba(255, 255, 255, 0.5);
            border-right: solid 8px rgba(255, 255, 255, 0.5);
            box-shadow: 0 0 100px rgba(66, 133, 244, 0.8);
        }

    .form .options-02 {
        color: #bbb;
        font-size: 14px;
        margin-top: 30px;
    }

        .form .options-02 a {
            color: #4285F4;
        }

/* Responsive CSS */

@media screen and (max-width: 500px) {


    .form {
        width: 95%;
    }

        .form .user-input {
            width: 100%
        }

        .form .btn {
            width: 100%;
        }
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: "Raleway", sans-serif;
    background: url(/img/s.jpeg)no-repeat fixed;
    background-size: cover;
}

.container {
    margin: 150px;
}

#logo {
    width: 90px;
    height: 50px;
}


h1 {
    color: white;
    background: green;
    background-size: auto;
    border-radius: 50px;
}


.row {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.image {
    background: green;
    position: relative;
    flex: 1;
    max-width: 460px;
    height: 300px;
    margin: 20px;
    overflow: hidden;
}

    .image img {
        opacity: 0.8;
        position: relative;
        vertical-align: top;
        transition: 0.6s;
        transition-property: opacity;
    top: 0px;
    left: 0px;
    height: 488px;
    width: 410px;
}

    .image:hover img {
        opacity: 0.30;
    }

    .image .details {
        z-index: 1;
        position: absolute;
        top: 0;
        right: 0;
        color: #fff;
        width: 100%;
        height: 100%;
    }

        .image .details h2, h1 {
            text-align: center;
            font-size: 35px;
            text-transform: uppercase;
            font-weight: 300;
            margin-top: 70px;
            transition: 0.4s;
            transition-property: transform;
        }

            .image .details h2 span, h1, .menu {
                font-weight: 900;
            }

    .image:hover .details h2 {
        transform: translateY(-30px);
    }

    .image .details p {
        margin: 30px 30px 0 30px;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        opacity: 0;
        transition: 0.6s;
        transition-property: opacity, transform;
    }

    .image:hover .details p {
        opacity: 1;
        transform: translateY(-40px);
    }

.more {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    bottom: -60px;
    transition: 0.6s;
    transition-property: bottom;
}

.image:hover .more {
    bottom: 0;
}

.more .read-more {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

    .more .read-more span {
        font-weight: 900;
    }

.more .icon-links i {
    color: green;
    font-size: 20px;
}

.more .icon-links a:not(:last-child) i {
    margin-right: 20px;
}

/* Responsive CSS */

@media (max-width: 1080px) {
    .image {
        flex: 100%;
        max-width: 480px;
    }
}

@media (max-width: 400px) {
    .image .details p {
        font-size: 16px;
    }

    .more .read-more, .more .icon-links a i {
        font-size: 18px;
    }
}


/* la barre de recherche style*/

.search-box {
    font-family: "Candara", sans-serif;
    position: absolute;
    background: white;
    height: 75px;
    width: auto;
    padding: 25px;
    border-radius: 40px;
    box-shadow: 0 0 25px 0 rgba(51, 58, 69, 0.4);
    margin-top: 200px;
    margin-left: 30%;
    padding-right: auto;
    margin-bottom: auto;
}

    .search-box input {
        border: none;
        background: none;
        outline: none;
        float: left;
        color: black;
        font-size: 20px;
        padding-bottom: 25px;
        line-height: 40px;
        width: 350px;
        transition: all 0.8s;
        text-align: center;
    }






.search-btn {
    border: none;
    background: none;
    outline: none;
    width: 100px;
    margin-top: -21px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

    .search-btn i {
        z-index: 1;
        background: white;
        font-size: 30px;
        color: black;
        padding: 25px;
        border-radius: 50px;
        box-shadow: 0 0 25px 0 rgba(0, 184, 150, 0.4);
    }

        .search-btn i:hover {
            background: white;
        }


.lala {
    background: white;
}






.button {
    background: white; /* Green */
    display: flex;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 3px;
    flex-direction: column;
    flex: 1;
}

    .button:hover {
        background: green;
    }

/* section about CSS */


.about .about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 50px;
    margin-bottom: 90px;
}

    .about .about-content .left {
        width: 45%;
    }

        .about .about-content .left img {
            height: 400px;
            width: 400px;
            object-fit: cover;
            border-radius: 6px;
        }

    .about .about-content .right {
        width: 55%;
    }

        .about .about-content .right .text {
            font-size: 25px;
            font-weight: 600;
            margin-bottom: 10px;
        }

            .about .about-content .right .text span {
                color: black;
            }

        .about .about-content .right p {
            text-align: justify;
        }

        .about .about-content .right a {
            display: inline-block;
            background: green;
            color: #fff;
            font-size: 20px;
            font-weight: 500;
            padding: 10px 30px;
            margin-top: 20px;
            border-radius: 6px;
            border: 2px solid white;
            transition: all 0.3s ease;
        }

            .about .about-content .right a:hover {
                color: green;
                background: none;
            }

       /*footer*/


footer {
    color: white;
    margin-top: 80px;
   

    
}

.content1 {
    position: relative;
    margin: 130px auto;
    text-align: center;
    padding: 0 20px;
}

    .content1 .text {
        font-size: 2.5rem;
        font-weight: 600;
        color: black;
    }

    .content1 .p {
        font-size: 2.1875rem;
        font-weight: 600;
        color: black;
    }

footer {
    position: flex;
    bottom: 0px;
    width: 100%;
    background: green;
}

.main-content {
    display: flex;
}

    .main-content .box {
        flex-basis: 50%;
        padding: 10px 20px;
    }

.box h2 {
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}

.box .content {
    margin: 20px 0 0 0;
    position: relative;
}

    .box .content:before {
        position: absolute;
        content: '';
        top: -10px;
        height: 2px;
        width: 100%;
        background: white;
    }

    .box .content:after {
        position: absolute;
        content: '';
        height: 2px;
        width: 15%;
        background: green;
        top: -10px;
    }

.left .content p {
    text-align: justify;
}

.left .content .social {
    margin: 20px 0 0 0;
}

    .left .content .social a {
        padding: 0 2px;
    }

        .left .content .social a span {
            height: 40px;
            width: 40px;
            background: white;
            line-height: 40px;
            text-align: center;
            font-size: 18px;
            border-radius: 5px;
            transition: 0.3s;
            color: green;
        }

.center .content .fas {
    font-size: 1.4375rem;
    background: green;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}

    .center .content .fas:hover {
        background: white;
    }

.center .content .text {
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
}

.center .content .phone {
    margin: 15px 0;
}

.right form .text {
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: white;
}

.right form .msg {
    margin-top: 10px;
}

.right form input, .right form textarea {
    width: 100%;
    font-size: 1.0625rem;
    background: white;
    padding-left: 10px;
    border: 1px solid white;
}

    .right form input:focus,
    .right form textarea:focus {
        outline-color: white;
    }

.right form input {
    height: 35px;
}

.right form .btn {
    margin-top: 10px;
}

    .right form .btn button {
        height: 40px;
        width: 100%;
        border: none;
        outline: none;
        background: white;
        font-size: 1.0625rem;
        font-weight: 500;
        cursor: pointer;
        transition: .3s;
    }


.bottom center {
    padding: 5px;
    font-size: 0.9375rem;
    background: white;
}

    .bottom center span {
        color: black;
    }

    .bottom center a {
        color: green;
        text-decoration: none;
    }

        .bottom center a:hover {
            text-decoration: underline;
        }

@media screen and (max-width: 900px) {
    footer {
        position: relative;
        bottom: 0px;
    }

    .main-content {
        flex-wrap: wrap;
        flex-direction: column;
    }

        .main-content .box {
            margin: 5px 0;
        }
}
